* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 46px;
    --black-color: #000;
    --white-color: #fff;
    --text-color: #333;
    --primary-color: #302972;
    --search-bar-height: 50px;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', 'Antonio', sans-serif;
}

.btn {
    background-color: var(--primary-color);
}

.contact-phone {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 8px;
    font-family: 'Antonio';
    display: block;
}

@keyframes appear {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 430px;
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}