.sale-product {
    margin: 20px 0;
}

.sale-label {
    color: red;
    font-size: 2.5rem;
    font-weight: 500;
}

.sale-product-item-link {
    display: block;
    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0;
    overflow: hidden;
    color: var(--text-color);
    text-decoration: none;
    margin-top: 8px;
    position: relative;
    height: 400px;
}

.sale-product-item-link:hover .sale-product__img > img {
    transform: scale(1.1);
}

.sale-product-item__head {
    position: relative;
}

.sale-product__img img {
    width: 100%;
    transition: transform linear .2s;
}

.sale-product__name {
    padding: 0 8px;
}

.sale-product__name h1 {
    font-size: 1.6rem;
}

.sale-product__price {
    padding: 8px;
}

.sale-product__price-old {
    text-decoration: line-through;
    font-size: 1.4rem;
}

.sale-product__price-current {
    color: red;
    font-size: 2rem;
    font-weight: 500;
}

.sale-product__ribbon {
    background-color: red;
    display: inline-block;
    padding: 4px 8px;
    color: #fff;
    position: absolute;
    bottom: calc(0px + 10px);
    font-size: 1.3rem;
    border-radius: 4px;
    margin-left: 8px;
}

.sale-product__warranty {
    position: absolute;
    width: 90px;
    top: calc(0px + 8px);
    right: calc(0px + 8px);
}

.sale-product__gift {
    color: var(--text-color);
    padding: 16px 8px;
    font-size: 1.3rem;
    background-color: #f8f9fa;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    width: 100%;
}