.top-banner {
    margin-top: 20px;
}

.top-banner img {
    width: 100%;
    display: block;
    border-radius: 2px;
}

.top-banner img:hover {
    opacity: .8;
}

.sale-product {
    margin: 20px 0;
}

.product-label {
    color: red;
    font-size: 2.5rem;
    font-weight: 500;
}

.product-item {
    padding: 0 8px;
}

.product-item-link {
    display: block;
    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0;
    overflow: hidden;
    color: var(--text-color);
    text-decoration: none;
    margin-top: 8px;
    position: relative;
}

.product-item-link:hover .product__img > img {
    transform: scale(1.1);
}

.product-item__head {
    position: relative;
}

.product__img img {
    width: 100%;
    transition: transform linear .2s;
}

.product__name {
    overflow: hidden;
}

.product__name h1 {
    font-size: 1.6rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
   	-webkit-line-clamp: 2;
}

.product__price {
    padding: 8px 0;
}

.product__price-old {
    text-decoration: line-through;
    font-size: 1.4rem;
}

.product__price-current {
    color: red;
    font-size: 2rem;
    font-weight: 500;
}

.product__ribbon {
    background-color: red;
    display: inline-block;
    padding: 4px 8px;
    color: #fff;
    position: absolute;
    bottom: calc(0px + 10px);
    font-size: 1.3rem;
    border-radius: 4px;
}

.product__warranty {
    position: absolute;
    width: 90px;
    top: 0;
    right: 0;
}

.sale-banner {
    margin-bottom: 20px;
}

.sale-banner-img {
    border-radius: 2px;
    width: 100%;
}

.product-info {
    background-color: #f8f9fa;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 8px;
}

.product-info ul {
    list-style-type: circle;
    font-size: 1.3rem;
    margin-left: 16px;
}

.product-info li {
    margin-bottom: 4px;
}

.product-info span {
    font-size: 1.5rem;
}