/* Tablet - mobile */
@media (max-width: 1023px) {
    .hide-on-tablet-mobile {
        display: none;
    }
    .header__top-item:last-child {
        border: none;
    }
    .header__navbar-cart {
        width: unset;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}
